<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="contacts-list5">
      <label class="item item-input" id="contacts-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left" id="contacts-list-item10" ui-sref="page()">
        <img src="img/duterte-5-1.jpg">
        <h2>Duterte</h2>
        <p>0927554654798321</p>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item11" ui-sref="page2()">
        <img src="img/Z">
        <h2>Leila</h2>
        <p>09123456789</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item14" ui-sref="page3()">
        <img src="img/bro-eli.png">
        <h2>Bro. Eli</h2>
        <p>094587546543</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item13" ui-sref="page4()">
        <img src="img/bo_featured.jpg">
        <h2>Bo Sanchez</h2>
        <p>096969696969</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item12" ui-sref="page5()">
        <img src="img/trillanes20180910.jpg">
        <h2>Trillianes</h2>
        <p>09254547564</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item16" ui-sref="page6()">
        <img src="img/7d36363c460ffc73796085cd15e6d5d2.jpg">
        <h2>Sasha</h2>
        <p>096956695669</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item18" ui-sref="page7()">
        <img src="img/MV5BMzc1YTA1ZjItMWRhMy00ZTBlLTkzNTgtNTc4ZDE3YTM3ZDk2XkEyXkFqcGdeQXVyNDUzOTQ5MjY._V1_SY1000_SX1000_AL_.jpg">
        <h2>Mia</h2>
        <p>096666669999</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item19" ui-sref="page8()">
        <img src="img/hqdefault.jpg">
        <h2>Andrea</h2>
        <p>09546465412</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item20" ui-sref="page9()">
        <img src="img/Nadine-Lustre.jpg">
        <h2>Nadine</h2>
        <p>65465468014</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="contacts-list-item17" ui-sref="page10()">
        <img src="img/crop-1414650360-single-hair_color_101_the_slicing_technique.jpg">
        <h2>Kathryn</h2>
        <p>09516446564465</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>