<ion-view title="Page" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="contacts()">
        <img src="img/MV5BMzc1YTA1ZjItMWRhMy00ZTBlLTkzNTgtNTc4ZDE3YTM3ZDk2XkEyXkFqcGdeQXVyNDUzOTQ5MjY._V1_SY1000_SX1000_AL_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="page7-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Mia</p>
    </div>
    <div id="page7-markdown26" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Malibi Street</p>
    </div>
    <div id="page7-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">SPECIAL CHILD</p>
    </div>
  </ion-content>
</ion-view>