<ion-view title="Page" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="contacts()">
        <img src="img/hqdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div id="page8-markdown28" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Andrea</p>
    </div>
    <div id="page8-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">Malibi Street</p>
    </div>
    <div id="page8-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">SPECIAL CHILD</p>
    </div>
  </ion-content>
</ion-view>